<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>The form is below !</h1>
    <form action="/" method="POST">
        {{ form.csrf_token }}
        {{ form.username.label }}
        {{ form.username }}
        <u>
            {% for err in form.username.errors %}
            <li style="color: red">{{ err }}</li>
            {% endfor %}
        </u>
        {{ form.password.label }}
        {{ form.password }}

        {{ form.age.label }}
        {{ form.age }}

        {{ form.true.label }}
        {{ form.true }}

        {{ form.email.label }}
        {{ form.email }}
        <u>
            {% for err in form.email.errors %}
            <li style="color: red">{{ err }}</li>
            {% endfor %}
        </u>

        <input type="submit" value="Submit">
    </form>
</body>
</html>